<div class="container-fluid">
  <div class="container">
    <div class="menu">
      <ul>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Products</li>
        <li>Blog</li>
        <li>Search</li>
        <li>Privacy Policy</li>
        <li>Terms of Service</li>
        <li>Refund Policy</li>
        <li>Customization & Gifting</li>
      </ul>
    </div>
    <div class="social">
      <div>
        <img
          src="../../../assets/images/footer/facebook_white_24dp.svg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../../../assets/images/footer/image_white_24dp.svg"
          alt=""
        />
      </div>
    </div>
    <div class="payments">
      <img src="../../../assets/images/footer/payment-methods.png" alt="" />
    </div>
    <div class="year">© 2021 Kal Hans Naturals</div>
  </div>
</div>
