.container-fluid {
  padding: 50px 15px;
  background-color: #cfacad;
  .container {
    width: 80%;
    margin: 0 auto;
    .menu {
      margin-bottom: 20px;
      ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          color: #fff;
          cursor: pointer;
        }
      }
    }
    .social {
      display: flex;
      justify-content: center;
      img {
        padding: 10px;
      }
    }
    .payments {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      img {
        height: 300px;
      }
    }
    .year {
      display: flex;
      justify-content: center;
      padding: 10px;
      color: #fff;
    }
  }
}
