<!-- TODO clean code better -->
<div class="container-outher">
  <header>
    <div class="header-menu container-inner">
      <div class="col">
        <img src="../../../assets/images/header/menu_black_24dp.svg" alt="" />
      </div>
      <div class="col">
        <img src="./../../../assets/images/header/Rectangle.svg" alt="" />
      </div>
      <div class="col">
        <div class="search">
          <input type="text" />
          <button>search</button>
        </div>
        <div class="shop">
          <img
            src="../../../assets/images/header/shopping_basket_black_24dp.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </header>
  <div class="container-inner">
    <button class="newCollection">Shop NEW Summer Collection!</button>
  </div>
</div>
