<div class="container-fluid">
  <div class="container">
    <div class="content">
      <h2>Skin Brightening Under Eye Cream</h2>
      <h2>$32.80</h2>
      <p>This lightweight adaptogenic blend with Licorice & Ashwagandha root help lighten stubborn dark circles whilst calming the area from stress related damage and wrinkles.</p>
      <div class="counter">
          <div class="minus">-</div>
          <div class="total">1</div>
          <div class="plus">+</div>
      </div>
      <button>Add to cart</button>
      <p>Buy it now</p>
    </div>
    <div class="image">
      <img src="../../../assets/images/skin-cream/Rectangle (1).svg" alt="" />
    </div>
  </div>
</div>
