<div class="container-fluid">
  <div class="container-inner">
    <h2>@kalhansnaturals</h2>
    <p>
      Follow us to share snaps of you 💕 and your glowing skin ✨🌿💧 & learn
      more about fun events, contests 🎁 and giveaways.
    </p>
    <div class="posts">
      <div class="post-item">
        <p>
          Beach babe @aliajashanmal 💕 makes sure her skin stays cool, protected
          and hydrated whether diving 🐳 laying by the beach 🏝 or hanging by the
          pool 👙 Check our all NEW Summer ☀️ Skincare Collection for
          multitasking skincare products that work whilst you play. Natural
          🌿Vegan 🐰 & Sustainable 🌎 Skincare for beautiful luminous skin
          ✨Shop at www.kalhans.com
        </p>
        <p>May 25, 2021</p>
      </div>
      <div class="post-item">
        <p>
          Use this simple Skincare Routine for Dry Skin and watch your skin’s
          look and texture transform🌿💕✨💦 ⭐️Step 1: Cleanse with a gentle
          antioxidant rich cleanser that doesn't strip your skin of oils. Drying
          face washes can do this and leave skin damaged. ⭐️Step 2: Tone with a
          deep hydrating toner that locks in moisture such as Hyaluronic Acid.
          Try our Aloe Cucumber Mist with Niacinamide that locks in moisture and
          exfoliates the top layer of dry and damaged skin. ⭐️Step 3: Hydrate
          with a rich moisturizer like our multifunctional Daily Moisture Sun
          Protection Lotion. It works great with all skin types and also
          protects from the sun and pollution with ingredients like Aloe Vera
          Juice, Ashwagandha, Lodhra, & Nagkesar. ⭐️Step 4: If you have very
          dry skin you can incorporate this additional step. Lock in all that
          moisture with a rich oil that helps repair and rejuvenate damaged dry
          skin like our R&R Night Serum with Rosehip, Seabuckthorn, Hemp and
          Pomegranate oil Follow for 30 days to see your skin glow and get those
          compliments rolling in. #GetGlowing 🌈🌿🌸
        </p>
        <p>May 25, 2021</p>
      </div>
      <div class="post-item">
        <p>
          Our Daily Moisture Sun ☀️ Protection Lotion is a multi- tasking
          wonder. This 3-in-one cream protects ☂ brightens ✨ and moisturizes
          🌊skin for a luminous radiance. The light weight formulation
          effortlessly absorbs into your skin without leaving a trace while
          giving you a daily dose of revitalizing moisture and helping protect
          you from the sun and pollution. The rich natural ingredients in this
          multi-functional cream also helps reduce signs of aging, protects from
          tanning and enhances your skin's optimal health, leaving it soft and
          dewy, Because, Who said you can't have it all? Key Ingredients:
          🌿Ashwagandha- Ashwagandha, is a potent antioxidant that helps protect
          skin from skin damaging free radicals 🌿Nagkesar-Nagkesar is a natural
          skin brightener that also helps exfoliate skin for a fresh dewy glow.
          It also helps minimize open pores and clarify skin for an even toned
          and glowing complexion. 🌿Lodhra- Lodhra works as a broad range UV
          protector with the ability to block UVA and UVB wavelengths, limiting
          the overall impact of UV on the skin. Shop Now: www.kalhans.com💕
        </p>
        <p>May 25, 2021</p>
      </div>
      <div class="post-item">
        <p>
          #Natural 🌿🌈💦 no filter kinda skin is what we're all about. Crush
          those skin goals and get healthy beautiful skin🧏🏽‍♀️ with our Natural
          Ayurvedic products. DM us with questions about your skin to learn more
          ✨💕 Photo: @nina.burman 🌸
        </p>
        <p>May 25, 2021</p>
      </div>
    </div>

    <button>Go To Instagram</button>
  </div>
</div>
