<div class="container-fluid">
  <div class="container">
    <div class="image">
      <img src="../../../assets/images/ourStory/Rectangle (3).svg" alt="" />
    </div>
    <div class="content">
      <h2>Your Skin Deserves The Best!</h2>
      <p>
        You have only one body and it deserves the best! Kal Hans brings you the
        highest quality, nutrient rich natural ingredients to elevate your
        skincare routine and give you glowing skin. Because the best makeup is
        NO makeup.
      </p>
      <button>Get Glowing</button>
    </div>
  </div>
</div>
