<div class="container-fluid">
    <div class="container">
        <div class="image">
            <img src="../../../assets/images/free-from/Rectangle.svg" alt="">
        </div>
        <div class="content">
            <h2>Free From</h2>
            <p>GMO's</p>
            <p>Toxins</p>
            <p>Fillers</p>
            <p>Artificial Colours</p>
            <p>Synthetic Chemicals</p>
            <p>Artificial Fragrances</p>
            <button>Shop Green Beauty</button>
        </div>
    </div>
</div>