
<div class="container-fluid">
    <div class="container">
      <div class="title">
        <p>The Skincare Essentials</p>
      </div>
      <div class="products">
        <div class="product-item">
          <img src="../../../assets/images/blog/image 7.svg" alt="" />
          <div class="name">Food For Your Skin: A Diet To Achieve Glowing Skin For Your Skin Type</div>
          <div class="date">Jan 08, 2021</div>
          <div class="text">Your skin is a reflection of your body’s overall health. When your skin looks dull and unkept it could be caused as a result of a poor diet, no exercise or bad skincare habits. Today we are going to tackle a healthy diet for natural glowing skin. All skin is different and it should be treated as such. A balanced diet is necessary for all skin types but certain foods can cause breakouts for already oily skin and certain foods can cause dehydration for already dry skin. So what should we include in our diet and what should we avoid?</div>
          <button>Read more</button>
        </div>
        <div class="product-item">
          <img src="../../../assets/images/blog/image 8.svg" alt="" />
          <div class="name">Hydrate Skin With These Hyaluronic Acid Rich Foods</div>
          <div class="date">Sep 07, 2020</div>
          <div class="text">Your skin is a reflection of your body’s overall health. When your skin looks dull and unkept it could be caused as a result of a poor diet, no exercise or bad skincare habits. Today we are going to tackle a healthy diet for natural glowing skin. All skin is different and it should be treated as such. A balanced diet is necessary for all skin types but certain foods can cause breakouts for already oily skin and certain foods can cause dehydration for already dry skin. So what should we include in our diet and what should we avoid?</div>
          <button>Read more</button>
        </div>
        <div class="product-item">
          <img src="../../../assets/images/blog/image 9.svg" alt="" />
          <div class="name">The Ultimate Skincare Acid Cheat Sheet</div>
          <div class="date">Aug 28, 2020</div>
          <div class="text">Your skin is a reflection of your body’s overall health. When your skin looks dull and unkept it could be caused as a result of a poor diet, no exercise or bad skincare habits. Today we are going to tackle a healthy diet for natural glowing skin. All skin is different and it should be treated as such. A balanced diet is necessary for all skin types but certain foods can cause breakouts for already oily skin and certain foods can cause dehydration for already dry skin. So what should we include in our diet and what should we avoid?</div>
          <button>Read more</button>
        </div>
      </div>
    </div>
  </div>
  